html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #bebebe !important;
  /* White text */
  transition: background-color 0.2s ease;
}


.content-wrapper {
  flex: 1;
}

/* OUTER CONTAINER */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}

.reviews-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* MOVING ROW */
.reviews-track {
  display: flex;
  /* FORCE HORIZONTAL */
  flex-direction: row;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}

/* INDIVIDUAL CARD */
.review-card {
  min-width: 320px;
  /* FIXED WIDTH = horizontal */
  max-width: 320px;
  margin: 0 15px;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  /* VERY IMPORTANT */
}

/* TEXT */
.review-text {
  font-style: italic;
  color: #555;
  margin-bottom: 15px;
}

/* PAUSE ON HOVER */
.reviews-track:hover {
  animation-play-state: paused;
}

/* KEYFRAMES */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.bg-soft-green {
  background: #f0fdf4;
  /* very light mint */
}